
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export DefaultIMModule=fcitx
CACHE_HOME=/tmp/`whoami`
export XDG_CACHE_HOME=$CACHE_HOME/.cache
if [ ! -e $XDG_CACHE_HOME ]; then
	mkdir -p $XDG_CACHE_HOME
	mkdir $XDG_CACHE_HOME/zsh
	mkdir $XDG_CACHE_HOME/vim
	chmod 700 -R $CACHE_HOME
fi

